*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(190, 174, 174);
    justify-content: center;
    text-align: center;
}
.choices{
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;  /* images ke beech gap */
    margin-top: 20px; 
    
}
img{
    height:150px;
    width:150px;
    border-radius:50%;
}
.choice:hover{
    opacity:0.5;
    cursor:pointer;
    background-color: aquamarine;
}
.choice{
    height:165x;
    width: 165px;
    display:flex;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}
.score-board{
   display: flex;
   justify-content: center;
    align-items: center;
    font-size:2rem;
    gap:3rem;
    margin-top:3rem;
    margin-bottom: 3rem;
}
#msg {
    background-color: black;
    color:white;
    font-size: 1rem;
    display:inline;
    padding:1rem;
    border-radius: 1rem;
}
    


    


 
